@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container{

    background-image:url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/ocean.jpg");
    background-size: cover;
    
    height: 100vh;
}
.card1 {
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    padding: 5px;
}
.button {
    height: 35px;
    width: 135px;
    border-radius:20px;
    border-width: 0px;
    background-color: rgb(102, 68, 194);
    color: white;
    font-style: italic;
}
.main-heading {
    font-family: "Monoton";
    font-size: 36px;
    font-style: oblique;
    font-weight: bold;
}
.paragraph {
    font-family:"Caveat" ;
    font-size: 28px;
    font-style: initial;
    font-weight: 200;
}